<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng ký</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <form name="frmdk">
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Enter email"
                name="email"
              />
            </div>
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" id="username" class="form-control" placeholder="username" name="username" />
            </div>
            <div class="form-group">
              <label for="Ho">Full name</label>
              <div class="row">
                <div class="col">
                  <input type="text" class="form-control" placeholder="First name" name="ho">
                </div>
                <div class="col">
                  <input type="text" class="form-control" placeholder="Last name" name="ten">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="password" class="form-control" placeholder="password" name="password" />
            </div>
            <button type="button" class="btn btn-primary" onclick="dangky()">Submit</button>
          </form>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      function dangky() {
        let un = document.frmdk.username.value;
        let pw = document.frmdk.password.value;
        let em = document.frmdk.email.value;
        let ho = document.frmdk.ho.value;
        let ten = document.frmdk.ten.value;
        let data = {
          username: un,
          password: pw,
          email: em,
          ho,
          ten
        };
        let url = "http://localhost:3000/users/";
        axios
          .post(url, data)
          .then(function (res) {
            document.frmdk.reset();
            console.log(res);
          })
          .catch((err) => console.log(err));
      }
    </script>
</body>
</html>
